.App {
  text-align: center;
  margin: 50px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.team {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.team h3 {
  margin-top: 0;
}

.team-member h4 {
  margin-bottom: 10px;
}

.team-member ul {
  list-style-type: none;
  padding-left: 0;
}

.team-member ul li {
  margin-bottom: 5px;
}
